{% extends "base.html" %}

{% block body %}
<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-12 d-flex flex-column align-items-center">
    <form class="form" id="formularioRefugio" action="{{url_for('cargar_refugio')}}" method="post">
      <p class="title">Agrega tu refugio </p>
      <div class="flex">

        <label for="nombre_refugio">
          <input type="text" id="nombre_refugio" name="fnombre_refugio" placeholder="Nombre:" required class="input">
        </label>

        <label for="tipo_refugio">
          <input type="text" id="tipo_refugio" name="ftipo_refugio" placeholder="Tipo de refugio:" required class="input">
        </label>
      </div>

      <label for="direccion_refugio">
        <input type="text" id="direccion_refugio" name="fdireccion_refugio" placeholder="Direccion:" required class="input">
      </label>

      <label for="barrio_refugio">
        <input type="text" id="barrio_refugio" name="fbarrio_refugio" placeholder="Barrio:" required class="input">
      </label>

      <label for="ciudad_refugio">
        <input type="text" id="ciudad_refugio" name="fciudad_refugio" placeholder="Ciudad:" required class="input">
      </label>

      <label for="postal_refugio">
        <input type="text" id="postal_refugio" name="fpostal_refugio" placeholder="Código postal:" required class="input">
      </label>

      <label for="pais_refugio">
        <input type="text" id="pais_refugio" name="fpais_refugio" placeholder="País:" required class="input">
      </label>

      <label for="telefono_refugio">
        <input type="number" id="telefono_refugio" name="ftelefono_refugio" placeholder="Teléfono:" required class="input">
      </label>

      <label for="imagen_refugio">
        <input type="text" id="imagen_refugio" name="fimagen_refugio" placeholder="Link de la imagen:" required class="input" >
      </label>

      <label for="descripcion_refugio">
        <input type="text" id="descripcion_refugio" name="fdescripcion_refugio" placeholder="Descripción:" required class="input">
      </label>

      <button class="py-2 bg-success border-0 rounded text-white" type="submit">Aceptar</button>
    </form>
  </div>
</div>


{% endblock %}