{% extends "base.html" %}

{% block body %}
<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-12 d-flex flex-column align-items-center">
    <form class="form" action="{{ url_for('cargar_voluntario') }}" method="post" >
        <p class="title">Sé Voluntario </p>
            <div class="flex">
            <label for="nombre_voluntario" >
                <input required class="input" type="text" id="nombre_voluntario" name="fnombre_voluntario" placeholder="Nombre" >
            </label>
  
            <label for="tipo_voluntario">
                <input type="text" id="tipo_voluntario" name="fpuesto_voluntario" placeholder="Puesto:" required class="input">
            </label>
        </div>  
        
        <label for="refugio_a_servir" >
            <input type="text" id="refugio_a_servir" name="frefugio_a_servir" placeholder="¿En que refugio?" required class="input">
        </label> 

        <label for="telefono_voluntario" >
            <input type="text" id="telefono_voluntario" name="ftelefono_voluntario" placeholder="Teléfono" required class="input">
        </label> 
            
        <label for="cuil_voluntario" >
            <input type="text" id="cuil_voluntario" name="fcuil_voluntario" placeholder="CUIL" required class="input">
        </label>
        <label for="foto_voluntario" >
            <input type="text" id="foto_voluntario" name="ffoto_voluntario" placeholder="Link a su foto de perfil"  required class="input" maxlength="254">
        </label>
        <button class="py-2 bg-success border-0 rounded text-white" type="submit" onclick="showAlert()">Aceptar</button>
    </form>
  </div>
</div>

{% endblock %}
