{% extends 'base.html' %}

{% block body %}
<main class="detalle-vol container-fluid d-flex justify-content-center my-4">
  <div class="col-lg-7 col-12 d-flex flex-column align-items-center">
    <section class="contenedor_img-perfil mb-4"
      style="max-width: 350px;"
      >
      {% if not data['link_foto'] %}
        <img class="voluntario_img-perfil img-fluid img-thumbnail"
          src="https://static.vecteezy.com/system/resources/previews/009/734/564/non_2x/default-avatar-profile-icon-of-social-media-user-vector.jpg" 
          alt="Foto de perfil"
          style="max-width: 100%; height: auto; border-radius: 4px;"
          >
      {% else %}
        <img class="voluntario_img-perfil img-fluid img-thumbnail"
          src="{{ data['link_foto']}} "
          alt="{{ data['nombre'] }}"
          style="max-width: 100%; height: auto; border-radius: 4px;"
          /> <!-- Deberia ser dinamico -->
      {% endif %}
    </section>
    <section class="contenedor-informacion d-flex flex-column justify-content-between">
      <div class="informacion">
        <h2>Voluntario: {{ data['nombre'] }}</h2> <!-- Esto deberia ser dinamico -->
        <h3>Refugio: 
          <a href="{{ url_for('detalles_refugio', id=data['id_refugio']) }}">
            {{ data['nombre_refugio'] }}
          </a>
        </h3> <!-- Quiza podria ser un link a la pagina del refugio -->
        <p class="m-0 mb-1" style="font-size: 18px;">Tipo de ayuda voluntaria: {{ data['puesto'] }}</p> <!-- Esto deberia ser dinamico -->
        <p class="m-0" style="font-size: 18px;">Telefono: {{ data['telefono'] }} </p>
      </div>
      <a class="mt-4" href="{{ url_for('edicion_voluntario', cuil=data['cuil_voluntario'])}}">
        <button class="px-3 py-2 rounded border border-primary bg-primary text-white">Editar</button>
      </a>
    </section>
  </div>
</main>
{% endblock %}