{% extends "base.html" %}
{% block body %}
    <div id="map">
        <!-- mapbox styles css & js scripts-->
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
        <link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet">
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.js"></script>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.css" type="text/css">
        <!-- refugios styles css & js scripts -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/map-style.css')}}">
        <script defer src="static/js/map-scripts.js"></script>
    </div>
{% endblock %}